<% include header %>
<link href="PageCss.css" rel="stylesheet" type="text/css">
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="page1">My First Site</a>
                        <a class="navbar-brand" href="page1">Introduction</a>
                        <a class="navbar-brand" href="mychoicepage">Split Money App</a>
                        <a class="navbar-brand" href="contactpage">Contact</a>
                        <a class="navbar-brand" href="guestbook">Guest Book</a>
                    </div>
                </div>
            </nav>
            <br/>
            <br/>
            <br/>
            <br/>
            
            <article>
            <div class="container-fluid">
               
            <form method="POST" action="contact" role="form">
                <label for="name">Your Full Name</label>
                <input type="text" id="name" name="name" placeholder="Your Full Name">
                   
                    <br/>
                    <br/>
                   
                <label for="email">Your Email Id</label>
                <input type="text" id="email" name="email" placeholder="Your Email Id">
                    
                    <br/>
                    <br/>
                    
                <label for="feedback">Your queries or Feedback</label>
                <textarea id="feedback" name="feedback" placeholder="Write your feedback"></textarea>
                    
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                <input type="submit" value="Submit">
               <br/>
                    <br/>
              </form>
            
            </div>
        </article>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
<footer>Contact Me
        <div class="container-fluid">
                <a href="https://www.facebook.com/sireeshadevineni/">
                <img src="fb.png"alt="facebooklink" height="42" width="42">
                </a>
                <a href="https://github.com/DevineniSirisha">
                    <img src="github.png"alt="facebooklink" height="42" width="42">
                </a>
                <a href="https://bitbucket.org/DevineniSirisha/">
                        <img src="bitbucket.gif"alt="facebooklink" height="42" width="42">
                </a>
                <a href="https://www.linkedin.com/in/siri-devineni-86a60251/">
                    <img src="linkedin.png"alt="facebooklink" height="42" width="42">
                </a>
                </div>
<% include footer %>