<% include header %>
<link href="guestbook.css" rel="stylesheet" type="text/css">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div>
        <div class="navbar-header">
            <a class="navbar-brand" href="page1">My First Site</a>
            <a class="navbar-brand" href="page1">Introduction</a>
            <a class="navbar-brand" href="mychoicepage">Split Money App</a>
            <a class="navbar-brand" href="contactpage">Contact</a>
            <a class="navbar-brand" href="guestbook">Guest Book</a>
        </div>
    </div>
</nav>
<br/>
<br/>
<h1>
    Express Guestbook
    <a href="/new-entry" class="btn btn-primary pull-right">
    Write in the guestbook
    </a>
</h1>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
    <% console.log("Displaying:"+entry.title) %>
    <% console.log("Displaying:"+entry.content) %>
    <% console.log("Displaying:"+entry.published) %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>