<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container">

