<% include header %>
<link href="PageCss.css" rel="stylesheet" type="text/css">
    
                <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div>
                            <div class="navbar-header">
                                    <a class="navbar-brand" href="page1">My First Site</a>
                                <a class="navbar-brand" href="page1">Introduction</a>
                                <a class="navbar-brand" href="mychoicepage">Split Money App</a>
                                <a class="navbar-brand" href="contactpage">Contact</a>
                                <a class="navbar-brand" href="guestbook">Guest Book</a>
                            </div>
                        </div>
                    </nav>
                    <br/>
                    <br/>
                    <br/>
                    <header>
                        Split money
                    </header>
                    <div class="container1">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <form NAME="myform" ACTION="" METHOD="GET">
                                <label for="fname">Enter your name</label>
                                <input type="text" id="fname" name="fname" placeholder="Your Name">
                                <br/>
                                <br/>
                               
                            <label for="amount">Enter total amount </label>
                            <input type="number" id="amount" name="amount" placeholder="Total Amount">
                                   
                                    <br/>
                                    <br/>
                                   
                                <label for="people">Enter number of people</label>
                                <input type="number" id="people" name="people" min="1" max="100" value="1">
                               
                                    <br/>
                                    <br/>
                                    <br/>
                                    <button type="button" onclick="Result(this.form)" class="btn btn-lg btn-info">Split it!</button>
                               <br/>
                                    <br/>
                                    <span id="name"></span>
                                    <span id="p">Please click the above button</span><span id="split"></span>
                                    <p>Results of the unit tests
                                        <a href="test/test.html">test/test.html</a>.</p>

                              </form>
                            
                            </div>
                        </article>
                        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                        <script src="mychoicepage.js"></script>

   </body>  
   
   
   <br/>
   <br/>
   <br/>

   <% include footer %>