<% include header %>
<link href="PageCss.css" rel="stylesheet" type="text/css">
    <br/>
    <br/>
   
 <nav class="navbar navbar-inverse navbar-fixed-top">
                <div>
                    <div class="navbar-header">
                            <a class="navbar-brand" href="page1">My First Site</a>
                        <a class="navbar-brand" href="page1">Introduction</a>
                        <a class="navbar-brand" href="mychoicepage">Split Money App</a>
                        <a class="navbar-brand" href="contactpage">Contact</a>
                        <a class="navbar-brand" href="guestbook">Guest Book</a>
                    </div>
                </div>
            </nav>
        <br/>
        <br/>
        <br/>
            <div class="row">
                    <div class="col-md-2">
                    <p> <img src="me.jpg" alt="my image" class="img-circle"> </p>
                    <p id="customp">Introduction</p>
                    </div>
                    
                    <div class="col-md-10">
                        
                               
                                    <p id="spacinglines">
                                            I’m newly admitted student of Applied computer science for spring 2018.I am from Vijayawada, India.
                                           <br/> I completed my graduation from K L University in Electronics and Computer Science in the year of 2015.
                                           <br/> I got placed in Infosys Limited, India during my third year campus placements. 
                                           <br/> During under graduation, I have done my certification on IBM DB2 Admin. 
                                           <br/> I was trained in python during my training in Infosys. 
                                           <br/> Later, I worked on two projects under clients Toyota and Microsoft. 
                                           <br/> In my 2.5 years of work experience in Infosys, I worked on .Net, Microsoft Azure and SharePoint. 
                                            I’ve completed my certification in 70-532(Developing Microsoft Azure Solutions) and a certified Microsoft Specialist
                                           <br/>
                                    </p>
                                
                        
                            
                    </div>
                
            </div>
            <br/>
            <div class="row">
                    <div class="col-md-1">
                    <p></p>
                    </div>
                    <div class="col-md-1">
                            <p id="customp">Future Plans and Hobbies</p>
                            </div>
                    <div class="col-md-10">
                        
                            
                                    <p>
                                    I’m planning to work on big data and cloud technologies.
                                    </p>
                                
                                    <p>
                                    Apart from technical knowledge, I'm interested in 
                                    Lettering,Calligraphy,Painting.
                                    </p>
                                
                        
                            
                    </div>
            </div>
        
<br/>
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PtZ-HdWVgM8"></iframe>
<br/>
<br/>

<% include footer %>
