body{
    
    background-image: url("back.jpg");
}

p{

    text-align: center
}
h1
{
    font-family: fantasy;
    font-style: italic;
    color: blueviolet;
    font-weight: normal
    
}
h2{

    color:deeppink
}
form{
background-color: blueviolet

}

.panel-default{
    background-color:bisque
}

